PyCity Schools Analysis
=======================

In [2]:
#import necessary libraries
import pandas as pd
from pathlib import Path

#set paths for school and students csv
school_path = Path("Resources/schools_complete.csv")
students_path = Path("Resources/students_complete.csv")

In [3]:
#read in csv's and assign to dataframes
school_df = pd.read_csv(school_path)
student_df = pd.read_csv(students_path)

In [7]:
#Merge thetwo data frames into one data frame based on the common variable 'school name'
merge_df = pd.merge(school_df, student_df, how = "outer", on = "school_name")
merge_df.head()

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84

District Summary
================

In [15]:
#find total number of unique schools
unique_schools = merge_df["school_name"].unique().size
unique_schools

15

In [17]:
#find total number of students
total_students = merge_df["student_name"].size
total_students

39170

In [18]:
#find total budget for all schools
total_budget = school_df["budget"].sum()
total_budget

24649428

In [19]:
#find average math score
avg_math = merge_df["math_score"].mean()
avg_math

78.98537145774827

In [20]:
#find average reading score
avg_read = merge_df["reading_score"].mean()
avg_read

81.87784018381414

In [40]:
#find percentage of students passing their math courses
math_pass = merge_df[merge_df["math_score"] >= 70].count()["math_score"]
math_perc = (math_pass/total_students)*100
math_perc

74.9808526933878

In [41]:
#find percentage of students passing reading
read_pass= merge_df[merge_df["reading_score"] >= 70].count()["reading_score"]
read_perc = (read_pass/total_students)*100
read_perc

85.80546336482001

In [46]:
#find percentage of students that passed both math and reading
total_pass = merge_df[(merge_df["reading_score"] >= 70) & (merge_df["math_score"] >= 70)].count()["math_score"]
total_perc = (total_pass/total_students)*100
total_perc

65.17232575950983

In [50]:
#create high level snapshot of key metrics
district_columns = ["Number of Schools", "Total Students", "Total Budget", "Average Math Score", "Average Reading Score",
                    "Percent Passing Math", "Percent Passing Reading", "Percent Passing Overall"]

district_data = [unique_schools, total_students, total_budget, avg_math, avg_read, math_perc, read_perc, total_perc]

district_df = pd.DataFrame([district_data], columns= district_columns)

#format dataframe
district_df["Total Students"] = district_df["Total Students"].map("{:,}".format)
district_df["Total Budget"] = district_df["Total Budget"].map("${:,.2f}".format)

#display dataframe
district_df

,Number of Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Percent Passing Overall
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

School Summary
==============

In [51]:
#create list of school names
school_names = school_df["school_name"]
school_names

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
Name: school_name, dtype: object

In [53]:
#find school types
school_type = school_df["type"]
school_type

0     District
1     District
2      Charter
3     District
4      Charter
5      Charter
6      Charter
7     District
8      Charter
9      Charter
10     Charter
11    District
12    District
13    District
14     Charter
Name: type, dtype: object

In [55]:
#find student count per school
student_per_school = school_df["size"]
student_per_school

0     2917
1     2949
2     1761
3     4635
4     1468
5     2283
6     1858
7     4976
8      427
9      962
10    1800
11    3999
12    4761
13    2739
14    1635
Name: size, dtype: int64

In [57]:
#find budget per school
budget_per_school = school_df["budget"]
budget_per_school

0     1910635
1     1884411
2     1056600
3     3022020
4      917500
5     1319574
6     1081356
7     3124928
8      248087
9      585858
10    1049400
11    2547363
12    3094650
13    1763916
14    1043130
Name: budget, dtype: int64

In [58]:
#find budget per student
budget_per_student = budget_per_school/student_per_school
budget_per_student

0     655.0
1     639.0
2     600.0
3     652.0
4     625.0
5     578.0
6     582.0
7     628.0
8     581.0
9     609.0
10    583.0
11    637.0
12    650.0
13    644.0
14    638.0
dtype: float64

In [59]:
#find average math score per school
avg_math_per_school = merge_df[["school_name", "math_score"]].groupby("school_name").mean()
avg_math_per_school

                       math_score
school_name
Bailey High School      77.048432
Cabrera High School     83.061895
Figueroa High School    76.711767
Ford High School        77.102592
Griffin High School     83.351499
Hernandez High School   77.289752
Holden High School      83.803279
Huang High School       76.629414
Johnson High School     77.072464
Pena High School        83.839917
Rodriguez High School   76.842711
Shelton High School     83.359455
Thomas High School      83.418349
Wilson High School      83.274201
Wright High School      83.682222

In [60]:
#find average reading score per school
avg_read_per_school = merge_df[["school_name", "reading_score"]].groupby("school_name").mean()
avg_read_per_school

                       reading_score
school_name
Bailey High School         81.033963
Cabrera High School        83.975780
Figueroa High School       81.158020
Ford High School           80.746258
Griffin High School        83.816757
Hernandez High School      80.934412
Holden High School         83.814988
Huang High School          81.182722
Johnson High School        80.966394
Pena High School           84.044699
Rodriguez High School      80.744686
Shelton High School        83.725724
Thomas High School         83.848930
Wilson High School         83.989488
Wright High School         83.955000

In [67]:
#find percentage of students passing math by school