PyCity Schools Analysis
=======================

In [1]:
#import necessary libraries
import pandas as pd
from pathlib import Path

#set paths for school and students csv
school_path = Path("Resources/schools_complete.csv")
students_path = Path("Resources/students_complete.csv")

In [2]:
#read in csv's and assign to dataframes
school_df = pd.read_csv(school_path)
student_df = pd.read_csv(students_path)

In [3]:
#Merge thetwo data frames into one data frame based on the common variable 'school name'
merge_df = pd.merge(school_df, student_df, how = "outer", on = "school_name")
merge_df.head()

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84

District Summary
================

In [4]:
#find total number of unique schools
unique_schools = merge_df["school_name"].unique().size
unique_schools

15

In [5]:
#find total number of students
total_students = merge_df["student_name"].size
total_students

39170

In [6]:
#find total budget for all schools
total_budget = school_df["budget"].sum()
total_budget

24649428

In [7]:
#find average math score
avg_math = merge_df["math_score"].mean()
avg_math

78.98537145774827

In [8]:
#find average reading score
avg_read = merge_df["reading_score"].mean()
avg_read

81.87784018381414

In [9]:
#find percentage of students passing their math courses
math_pass = merge_df[merge_df["math_score"] >= 70].count()["math_score"]
math_perc = (math_pass/total_students)*100
math_perc

74.9808526933878

In [10]:
#find percentage of students passing reading
read_pass= merge_df[merge_df["reading_score"] >= 70].count()["reading_score"]
read_perc = (read_pass/total_students)*100
read_perc

85.80546336482001

In [11]:
#find percentage of students that passed both math and reading
total_pass = merge_df[(merge_df["reading_score"] >= 70) & (merge_df["math_score"] >= 70)].count()["math_score"]
total_perc = (total_pass/total_students)*100
total_perc

65.17232575950983

In [12]:
#create high level snapshot of key metrics
district_columns = ["Number of Schools", "Total Students", "Total Budget", "Average Math Score", "Average Reading Score",
                    "Percent Passing Math", "Percent Passing Reading", "Percent Passing Overall"]

district_data = [unique_schools, total_students, total_budget, avg_math, avg_read, math_perc, read_perc, total_perc]

district_df = pd.DataFrame([district_data], columns= district_columns)

#format dataframe
district_df["Total Students"] = district_df["Total Students"].map("{:,}".format)
district_df["Total Budget"] = district_df["Total Budget"].map("${:,.2f}".format)

#display dataframe
district_df

,Number of Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Percent Passing Overall
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

School Summary
==============

In [13]:
#create list of school names
school_names = school_df["school_name"]
school_names

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
Name: school_name, dtype: object

In [14]:
#find school types
school_type = school_df["type"]
school_type

0     District
1     District
2      Charter
3     District
4      Charter
5      Charter
6      Charter
7     District
8      Charter
9      Charter
10     Charter
11    District
12    District
13    District
14     Charter
Name: type, dtype: object

In [15]:
#find student count per school
student_per_school = school_df["size"]
student_per_school

0     2917
1     2949
2     1761
3     4635
4     1468
5     2283
6     1858
7     4976
8      427
9      962
10    1800
11    3999
12    4761
13    2739
14    1635
Name: size, dtype: int64

In [16]:
#find budget per school
budget_per_school = school_df["budget"]
budget_per_school

0     1910635
1     1884411
2     1056600
3     3022020
4      917500
5     1319574
6     1081356
7     3124928
8      248087
9      585858
10    1049400
11    2547363
12    3094650
13    1763916
14    1043130
Name: budget, dtype: int64

In [17]:
#find budget per student
budget_per_student = budget_per_school/student_per_school
budget_per_student

0     655.0
1     639.0
2     600.0
3     652.0
4     625.0
5     578.0
6     582.0
7     628.0
8     581.0
9     609.0
10    583.0
11    637.0
12    650.0
13    644.0
14    638.0
dtype: float64

In [18]:
#find average math score per school
avg_math_per_school = merge_df[["school_name", "math_score"]].groupby("school_name").mean()["math_score"]
avg_math_per_school

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [19]:
#find average reading score per school
avg_read_per_school = merge_df[["school_name", "reading_score"]].groupby("school_name").mean()["reading_score"]
avg_read_per_school

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [20]:
#find percentage of students passing math by school
stu_pass_math = merge_df[(merge_df["math_score"] >= 70)].groupby("school_name").count()["math_score"]
stu_in_school = merge_df[["school_name", "math_score"]].groupby("school_name").count()["math_score"]
per_pass_math = (stu_pass_math/stu_in_school)*100
per_pass_math

school_name
Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
Name: math_score, dtype: float64

In [21]:
#Find percentage of students passing reading by school
stu_pass_read = merge_df[(merge_df["reading_score"] >= 70)].groupby("school_name").count()["reading_score"]
per_pass_read = (stu_pass_read/stu_in_school)*100
per_pass_read

school_name
Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
dtype: float64

In [22]:
#Find percentage of students passing both math and reading by school
stu_pass_both = merge_df[(merge_df["math_score"] >= 70) & (merge_df["reading_score"] >= 70)].groupby("school_name").count()["math_score"]
per_pass_both = (stu_pass_both/stu_in_school)*100
per_pass_both

school_name
Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
Name: math_score, dtype: float64

In [26]:
#create dataframe that summarizes key metrics by school
#created two dataframes due to different indexs
byschool_df1 = pd.DataFrame({"School Name": school_names,
                        "School Type" : school_type, 
                        "Total Students": student_per_school, 
                        "Total School Budget" : budget_per_school,
                        "Per Student Budget" : budget_per_student})

byschool_df2 = pd.DataFrame({ "Average Math Score" : avg_math_per_school, 
                        "Average Reading Score" : avg_read_per_school,
                        "Percent Passing Math" : per_pass_math, 
                        "Percent Passing Reading" : per_pass_read, 
                        "Percent Passing Both" : per_pass_both})

#set index of byschool_df2 to series "School Name" and merge two dataframes on that series
byschool_df2["School Name"] = byschool_df2.index

byschool_df = pd.merge(byschool_df1, byschool_df2, on = "School Name")

#sort by alphabeticla order of school name column
byschool_df = byschool_df.sort_values("School Name")                       
                 
#display dataframe
byschool_df

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Percent Passing Both
7,Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
6,Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
1,Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
13,Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
4,Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
3,Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
8,Holden High School,Charter,427,248087,581.0,83.803279,83.814988,92.505855,96.252927,89.227166
0,Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
12,Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172
9,Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541
11,Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
2,Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,93.867121,95.854628,89.892107
14,Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
5,Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
10,Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,93.333333,96.611111,90.333333

Highest-Performing Schools (by % Overall Passing)
=================================================

In [28]:
top_schools = byschool_df.sort_values("Percent Passing Both", ascending = False)
top_schools.head()

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Percent Passing Both
6,Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
14,Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
4,Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
5,Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
9,Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541

Lowest-Performing Schools (by % Overall Passing)
================================================

In [29]:
bottom_schools = byschool_df.sort_values("Percent Passing Both")
bottom_schools.head()

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Percent Passing Both
11,Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
1,Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
0,Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
3,Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
12,Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172

Math Scores by Grade
====================

In [ ]:
#Calculate average math score by grade level for each school

Reading Scores by Grade
=======================

In [ ]:
#Calculate average reading score by grade level for each school

Scores by School Spending
=========================